$tornado: HSLA(0, 80%, 70%, 1);
$hail: HSLA(27, 80%, 70%, 1);
$storm-wind: HSLA(54, 80%, 70%, 1);
$lightning: HSLA(81, 80%, 70%, 1);
$wildfire: HSLA(108, 80%, 70%, 1);
$hurricane: HSLA(135, 80%, 70%, 1);
$flooding: HSLA(162, 80%, 70%, 1);
$wind: HSLA(189, 80%, 70%, 1);
$winter: HSLA(216, 80%, 70%, 1);
$heat: HSLA(243, 80%, 70%, 1);
$coastal: HSLA(270, 80%, 70%, 1);
$drought: HSLA(297, 80%, 70%, 1);
$storm: HSLA(324, 80%, 70%, 1);

$black: HSLA(0, 0%, 0%, 1);