 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Standards
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 , h5, h6 {
  margin: 0;
  padding: 0;
}

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {}

.grid {
  margin-bottom: 60px;

  li {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: white;
    margin-right: 4px;
    margin-bottom: 4px;
    position: relative;

    &:hover {
      z-index: 99;

      .dropDown {
        display: block;
      }
    }
  }

  .dropDown {
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    width: 200px;
    margin-left: -95px;
    background-color: white;

    &::before {
      position: absolute;
      top: -10px;
      left: 47.5%;
      content:"";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 10px 7px;
      border-color: transparent transparent black transparent;
    }

    h6 {
      display: block;
      width: 100%;
    }
  }
}

// Filters

.toolBar {
  background-color: grey;
  display: block;
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
}

// Slider Styles

slider {
  position: absolute;
  background-color: white;
  width: 50%;
  height: 10px;
}

.bubble {
  background-color: white;
  border: 1px solid red;
  top: -5px;
}

.middle {
  display: none;
}

#deathSlider {
  right: 15px;
  top: 15px;
}

#injurySlider {
  right: 15px;
  top: 40px;
}

#propertySlider {
  right: 15px;
  top: 65px;
}

#cropSlider {
  right: 15px;
  top: 90px;
}

::-ms-tooltip {
  display: none;
}

// Data Styles

.grid {

  .tornado {
    background-color: red;
  }

  .hail {
    background-color: blue;
  }

  .storm-wind {
    background-color: green;
  }

  .lightning {
    background-color: yellow;
  }

  .wildfire {
    background-color: orange;
  }

  .hurricane {
    background-color: purple;
  }

  .flooding {
    background-color: lightblue;
  }

  .wind {
    background-color: grey;
  }

  .winter {
    background-color: lightgrey;
  }

  .heat {
    background-color: black;
  }

  .coastal {
    background-color: brown;
  }

  .drought {
    background-color: pink;
  }

  .storm {
    background-color: violet;
  }
}