 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Standards
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {

}

.grid {

  li {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: black;
    margin-right: 4px;
    border-radius: 50%;
  }
}