 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Partials
@import 'colors';

// Standards
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 , h5, h6 {
  margin: 0;
  padding: 0;
}

// Custom Styles
body {
  background: $black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {}

.grid {
  padding: 4px;
  margin-bottom: 120px;

  li {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: white;
    margin-bottom: 12px;
    margin-right: 1px;
    position: relative;
    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out;
    transition: transform .2s ease-out;

    &:hover {
      -webkit-transform:scale(2);
      -moz-transform:scale(2);
      -o-transform:scale(2);
      transform:scale(2);
      border: 1px solid $black;
      z-index: 6;

      .dropDown {
        z-index: 3;
        display: block;
      }

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: -6px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 6px;
      border-color: transparent transparent transparent inherit;
      z-index: 5;
    }

    &::before {
      content: "";
      position: absolute;
      right: -7px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 6px;
      border-color: transparent transparent transparent $black;
      z-index: 4;
    }
  }

  .divider {
    background-color: $black;
    color: white;
    height: 15px;
    width: 60px;
    text-align: center;
    font-size: 0.8em;
    vertical-align: top;

    &:hover {
      -webkit-transform:none;
      -moz-transform:none;
      -o-transform:none;
      transform:none;
      border: none;
      z-index: 1;
    }

    &::after {
      content: none;
    }

    &::before {
      right: -11px;
    }
  }

  .dropDown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    margin-left: -95px;
    padding: 8px 4px;
    background-color: white;

    &::before {
      position: absolute;
      top: -10px;
      left: 47.5%;
      content:"";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 10px 7px;
      border-color: transparent transparent white transparent;
    }

    h6 {
      display: block;
      width: 100%;
    }
  }
}

// Filters

.toolBar {
  background-color: HSLA(0, 0%, 0%, .7);
  display: block;
  padding: 10px;
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
  z-index: 99;

  input {
    width: 25%;
    height: 40px;
    display: block;
    padding-left: 10px;
  }
}

#typeFilter {
  margin-bottom: 10px;
}

#countyFilter {

}

// Slider Styles

slider {
  position: absolute;
  background-color: white;
  width: 50%;
  height: 10px;
}

.bubble {
  background-color: white;
  border: 1px solid red;
  top: -5px;
}

.middle {
  display: none;
}

#deathSlider {
  right: 15px;
  top: 15px;
}

#injurySlider {
  right: 15px;
  top: 40px;
}

#propertySlider {
  right: 15px;
  top: 65px;
}

#cropSlider {
  right: 15px;
  top: 90px;
}

::-ms-tooltip {
  display: none;
}

// Data Styles

.grid {

  .tornado {
    background-color: $tornado;
    color: $tornado;
  }

  .hail {
    background-color: $hail;
    color: $hail;
  }

  .storm-wind {
    background-color: $storm-wind;
    color: $storm-wind;
  }

  .lightning {
    background-color: $lightning;
    color: $lightning;
  }

  .wildfire {
    background-color: $wildfire;
    color: $wildfire;
  }

  .hurricane {
    background-color: $hurricane;
    color: $hurricane;
  }

  .flooding {
    background-color: $flooding;
    color: $flooding;
  }

  .wind {
    background-color: $wind;
    color: $wind;
  }

  .winter {
    background-color: $winter;
    color: $winter;
  }

  .heat {
    background-color: $heat;
    color: $heat;
  }

  .coastal {
    background-color: $coastal;
    color: $coastal;
  }

  .drought {
    background-color: $drought;
    color: $drought;
  }

  .storm {
    background-color: $storm;
    color: $storm;
  }
}