<ul class="grid">
	<li class="divider">2010</li>
	<li ng-repeat="disaster in disasters2010 | filter:disasterType | filter:disasterCounty | filter:deathFilter | filter:injuryFilter | filter:propertyFilter | filter:cropFilter" ng-class="{'tornado': disaster.HAZARD_TYPE_COMBO === 'Tornado', 'hail': disaster.HAZARD_TYPE_COMBO === 'Hail', 'storm-wind': disaster.HAZARD_TYPE_COMBO === 'Severe Storm/Thunder Storm - Wind', 'lightning': disaster.HAZARD_TYPE_COMBO === 'Lightning', 'wildfire': disaster.HAZARD_TYPE_COMBO === 'Wildfire', 'hurricane': disaster.HAZARD_TYPE_COMBO === 'Hurricane/Tropical Storm', 'flooding': disaster.HAZARD_TYPE_COMBO === 'Flooding', 'wind': disaster.HAZARD_TYPE_COMBO === 'Wind', 'winter': disaster.HAZARD_TYPE_COMBO === 'Winter Weather', 'heat': disaster.HAZARD_TYPE_COMBO === 'Heat', 'coastal': disaster.HAZARD_TYPE_COMBO === 'Coastal', 'drought': disaster.HAZARD_TYPE_COMBO === 'Drought', 'storm': disaster.HAZARD_TYPE_COMBO === 'Severe Storm/Thunder Storm'}" ng-click="dropped = !dropped">
		<div class="dropDown" ng-show="dropped" ng-mouseleave="dropped = !dropped">
			<h6>Type: {{ disaster.HAZARD_TYPE_COMBO }}</h6>
			<h6>Begin Date: {{ disaster.HAZARD_BEGIN_DATE }}</h6>
			<h6>End Date: {{ disaster.HAZARD_END_DATE	 }}</h6>
			<h6>County: {{ disaster.NAME }}, {{ disaster.POSTAL_CODE }}</h6>
			<h6>Injuries: {{ disaster.INJURIES	 }}</h6>
			<h6>Fatalities: {{ disaster.FATALITIES	 }}</h6>
			<h6>Property Damage: {{ disaster.PROPERTY_DAMAGE	 }}</h6>
			<h6>Crop Damage: {{ disaster.CROP_DAMAGE	 }}</h6>
		</div>
	</li>
	<li class="divider">2011</li>
	<li ng-repeat="disaster in disasters2011 | filter:disasterType | filter:disasterCounty | filter:deathFilter | filter:injuryFilter | filter:propertyFilter | filter:cropFilter" ng-class="{'tornado': disaster.HAZARD_TYPE_COMBO === 'Tornado', 'hail': disaster.HAZARD_TYPE_COMBO === 'Hail', 'storm-wind': disaster.HAZARD_TYPE_COMBO === 'Severe Storm/Thunder Storm - Wind', 'lightning': disaster.HAZARD_TYPE_COMBO === 'Lightning', 'wildfire': disaster.HAZARD_TYPE_COMBO === 'Wildfire', 'hurricane': disaster.HAZARD_TYPE_COMBO === 'Hurricane/Tropical Storm', 'flooding': disaster.HAZARD_TYPE_COMBO === 'Flooding', 'wind': disaster.HAZARD_TYPE_COMBO === 'Wind', 'winter': disaster.HAZARD_TYPE_COMBO === 'Winter Weather', 'heat': disaster.HAZARD_TYPE_COMBO === 'Heat', 'coastal': disaster.HAZARD_TYPE_COMBO === 'Coastal', 'drought': disaster.HAZARD_TYPE_COMBO === 'Drought', 'storm': disaster.HAZARD_TYPE_COMBO === 'Severe Storm/Thunder Storm'}" ng-click="dropped = !dropped">
		<div class="dropDown" ng-show="dropped" ng-mouseleave="dropped = !dropped">
			<h6>Type: {{ disaster.HAZARD_TYPE_COMBO }}</h6>
			<h6>Begin Date: {{ disaster.HAZARD_BEGIN_DATE }}</h6>
			<h6>End Date: {{ disaster.HAZARD_END_DATE	 }}</h6>
			<h6>County: {{ disaster.NAME }}, {{ disaster.POSTAL_CODE }}</h6>
			<h6>Injuries: {{ disaster.INJURIES	 }}</h6>
			<h6>Fatalities: {{ disaster.FATALITIES	 }}</h6>
			<h6>Property Damage: {{ disaster.PROPERTY_DAMAGE	 }}</h6>
			<h6>Crop Damage: {{ disaster.CROP_DAMAGE	 }}</h6>
		</div>
	</li>
	<li class="divider">2012</li>
	<li ng-repeat="disaster in disasters2012 | filter:disasterType | filter:disasterCounty | filter:deathFilter | filter:injuryFilter | filter:propertyFilter | filter:cropFilter" ng-class="{'tornado': disaster.HAZARD_TYPE_COMBO === 'Tornado', 'hail': disaster.HAZARD_TYPE_COMBO === 'Hail', 'storm-wind': disaster.HAZARD_TYPE_COMBO === 'Severe Storm/Thunder Storm - Wind', 'lightning': disaster.HAZARD_TYPE_COMBO === 'Lightning', 'wildfire': disaster.HAZARD_TYPE_COMBO === 'Wildfire', 'hurricane': disaster.HAZARD_TYPE_COMBO === 'Hurricane/Tropical Storm', 'flooding': disaster.HAZARD_TYPE_COMBO === 'Flooding', 'wind': disaster.HAZARD_TYPE_COMBO === 'Wind', 'winter': disaster.HAZARD_TYPE_COMBO === 'Winter Weather', 'heat': disaster.HAZARD_TYPE_COMBO === 'Heat', 'coastal': disaster.HAZARD_TYPE_COMBO === 'Coastal', 'drought': disaster.HAZARD_TYPE_COMBO === 'Drought', 'storm': disaster.HAZARD_TYPE_COMBO === 'Severe Storm/Thunder Storm'}" ng-click="dropped = !dropped">
		<div class="dropDown" ng-show="dropped" ng-mouseleave="dropped = !dropped">
			<h6>Type: {{ disaster.HAZARD_TYPE_COMBO }}</h6>
			<h6>Begin Date: {{ disaster.HAZARD_BEGIN_DATE }}</h6>
			<h6>End Date: {{ disaster.HAZARD_END_DATE	 }}</h6>
			<h6>County: {{ disaster.NAME }}, {{ disaster.POSTAL_CODE }}</h6>
			<h6>Injuries: {{ disaster.INJURIES	 }}</h6>
			<h6>Fatalities: {{ disaster.FATALITIES	 }}</h6>
			<h6>Property Damage: {{ disaster.PROPERTY_DAMAGE	 }}</h6>
			<h6>Crop Damage: {{ disaster.CROP_DAMAGE	 }}</h6>
		</div>
	</li>
	<li class="divider">2013</li>
</ul>
<!-- Tool Bar -->
<div class="toolBar">
	<!-- Deaths Slider -->
	<slider id="deathSlider"
	ng-model="deathsLow"
	ng-model-range="deathsHigh"
	floor="0"
	ceiling="10"></slider>
	<!-- End Deaths Slider -->
	<!-- Injuries Slider -->
	<slider id="injurySlider"
	ng-model="injuryLow"
	ng-model-range="injuryHigh"
	floor="0"
	ceiling="20"></slider>
	<!-- End Injury Slider -->
	<!-- Property Slider -->
	<slider id="propertySlider"
	ng-model="propertyLow"
	ng-model-range="propertyHigh"
	floor="0"
	ceiling="25000000"></slider>
	<!-- End Property Slider -->
	<!-- Crop Slider -->
	<slider id="cropSlider"
	ng-model="cropLow"
	ng-model-range="cropHigh"
	floor="0"
	ceiling="100000000"></slider>
	<!-- End Crop Slider -->
	<!-- Type Filter -->
	<input id="typeFilter" type="text" ng-model="disasterType.HAZARD_TYPE_COMBO" placeholder="Filter by Type">
	<!-- End Type Filter -->
	<!-- County Filter -->
	<input id="countyFilter" type="text" ng-model="disasterCounty.NAME" placeholder="Filter by County">
	<!-- End County Filter -->
</div>
<div class="key">
	<h3>Natural Disasters in Georgia</h3>
	<ul>
		<li></li>
	</ul>
	<p>This is a visual representation of all of the natural disasters occuring in the state of Georgia between 2003 and 2008.</p>
</div>